---
import type { Story, Body } from "src/types/NoticiasStoryTypes";
import {
    storyblokEditable,
    useStoryblokApi,
    renderRichText,
} from "@storyblok/astro";
import Layout from "@layout";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { slug } = Astro.params;
const { blok } = Astro.props;
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories/noticias/${slug}`, {
    version: "draft", // Cambiar a 'published' en producción
});
const story: Story = data.story;
const noticia: Body = story.content.body[0];
const { Titulo, Cuerpo, Fecha_publicacion, Autor } = noticia;
const renderedRichText = renderRichText(Cuerpo);
---

<Layout title={Titulo} description={Titulo}>
    <article {...storyblokEditable(blok)} class="prose max-w-none p-4">
        <h1 class="principal-title text-center">{Titulo}</h1>
        <img
            src={noticia.Imagen_portada.filename }
            alt={Titulo}
            class="w-full h-48 object-cover mb-6"
        />
        <div>
            <StoryblokComponent blok={Autor[0]} />
        </div>
        <p class="text-gray-500 mb-4 text-left">
            Publicado el {
                new Date(Fecha_publicacion).toLocaleDateString("es-MX", {
                    weekday: "long",
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </p>

        <!-- Renderizando el texto enriquecido con 'prose' para asegurar espaciado adecuado -->
        <div class="prose" set:html={renderedRichText} />
    </article>
</Layout>
