---
import { useStoryblokApi, renderRichText } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Layout from "@layout";

// Obtener datos del slug
const { slug } = Astro.params;
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories/noticias/${slug}`, {
    version: "draft", // Cambiar a 'published' en producción
});

// Obtener el contenido de la historia
const story = data.story;
const noticia = story?.content?.body?.[0] ?? {};
const {
    Titulo: titulo,
    Cuerpo: cuerpo,
    Fecha_publicacion,
    Autor: autor,
} = noticia;

// Renderizar el RichText
const renderedRichText = renderRichText(cuerpo);
---

<Layout title={titulo} description={titulo}>
    <article class="prose max-w-none p-4">
        <h1 class="principal-title text-center">{titulo}</h1>
        <!-- TODO: Mostrar la imagen de la noticia -->

        <!-- Mostrar el componente de Autor -->
        <div>
            <StoryblokComponent blok={autor[0]} />
        </div>

        <!-- Mostrar la fecha de publicación -->
        <p class="text-gray-500 mb-4 text-left">
            Publicado el {
                new Date(Fecha_publicacion).toLocaleDateString("es-MX", {
                    weekday: "long",
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </p>

        <!-- Renderizar RichText -->
        <div set:html={renderedRichText} />
    </article>
</Layout>
