---
import type { Story, Body } from "src/types/NoticiasStoryTypes";
import {
    storyblokEditable,
    useStoryblokApi,
    renderRichText,
} from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Layout from "@layout";
import { Image } from "astro:assets";
import Compartir from "@components/Compartir.astro";

const { slug } = Astro.params;
const { blok } = Astro.props;
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories/noticias/${slug}`, {
    version: "draft", // Cambiar a 'published' en producción
});
const story: Story = data.story;
const noticia: Body = story?.content?.body?.[0] ?? {};
const {
    Titulo: titulo,
    Cuerpo: cuerpo,
    Fecha_publicacion,
    Autor: autor,
    Imagen_portada,
} = noticia;
const renderedRichText = renderRichText(cuerpo);
---

<Layout title={titulo} description={titulo}>
    <article {...storyblokEditable(blok)} class="p-8">
        <div
            id="portada"
            class="max-h-16 max-w-full items-center grid justify-center"
        >
            <Image
                src={Imagen_portada.filename}
                alt={titulo}
                inferSize
                height={300}
            />
        </div>
        <h1 class="principal-title p-2 text-center">{titulo}</h1>

        <div>
            <StoryblokComponent blok={autor[0]} />
        </div>

        <p class="text-gray-500 mb-4 text-left">
            Publicado el {
                new Date(Fecha_publicacion).toLocaleDateString("es-MX", {
                    weekday: "long",
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </p>

        <div set:html={renderedRichText} />
    </article>
    <Compartir />
</Layout>
