---
import Layout from "@layout";
import Bancos from "@components/Bancos.astro";
import { Image } from "astro:assets";

import apoyanos from "@images/apoyanos.webp";
import copaBrasil from "@images/copa_brasil.webp";
import equipo from "@images/equipo.webp";
import equipo2 from "@images/equipo2.webp";
import equipo3 from "@images/equipo3.webp";
import equipo4 from "@images/equipo4.webp";
import equipo5 from "@images/equipo5.webp";
import equipo6 from "@images/equipo6.webp";
import equipo7 from "@images/equipo7.webp";
import equipo8 from "@images/equipo8.webp";
import equipo9 from "@images/equipo9.webp";
import equipo10 from "@images/equipo10.webp";

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/images/equipo*.webp",
);

const alts = [
    "Niños con el entrenador",
    "Niños preparados para competir en la Copa brasil",
    "Niños afuera de un templo",
    "Entrenadora enseñandole a dos niños",
    "Dos niños compitiendo por el balón",
    "Niños preparandose para entrenar, con camisas verdes",
    "Niños con sus entrenadores, listos para competir",
    "Niños en la cancha de juego, descansando en el suelo",
    "Niño parando un balón que cae con su pie",
    "Niño haciendo una dominada",
    "Todos los niños aprendiendo a jugar con el balón",
    "Niños portero detiene el balón y salva a su equipo de un gol",
];
---

<Layout title="Apoyanos">
    <main class="text-white text-center m-10">
        <h1 class="text-5xl p-2">¡Gracias por interesarte en nosotros!</h1>
        <hr
            class="w-64 h-1 mx-auto my-3 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700"
        />

        <p class="text-balance text-lg">
            Gracias a sus donaciones, hemos logrado llegar lejos, construyendo
            oportunidades para que los niños se desarrollen mientras juegan. De
            una manera divertida, aplicada, facil y con todo el corazón del
            mundo.
        </p>

        <!--Creditos a https://tailwindflex.com/@simon-scheffer/masonry-grid -->
        <div class="p-5 sm:p-8">
            <div
                class="columns-1 gap-5 sm:columns-2 sm:gap-8 md:columns-3 lg:columns-4 [&>img:not(:first-child)]:mt-8"
            >
                <Image {...{ src: apoyanos, alt: "Niños con el entrenador" }} />
                <Image
                    {...{
                        src: copaBrasil,
                        alt: "Niños preparados para competir en la Copa brasil",
                    }}
                />
                <Image {...{ src: equipo, alt: "Niños afuera de un templo" }} />

                {
                    Object.entries(images).map(([_, value], index) => (
                        <Image
                            {...{
                                src: value(),
                                alt: alts[index],
                            }}
                        />
                    ))
                }
                <!--
                <Image
                    {...{
                        src: equipo2,
                        alt: "Entrenadora enseñandole a dos niños",
                    }}
                />
                <Image
                    {...{
                        src: equipo3,
                        alt: "Dos niños compitiendo por el balón",
                    }}
                />
                <Image
                    {...{
                        src: equipo4,
                        alt: "Niños preparandose para entrenar, con camisas verdes",
                    }}
                />
                <Image
                    {...{
                        src: equipo5,
                        alt: "Niños con sus entrenadores, listos para competir",
                    }}
                />
                <Image
                    {...{
                        src: equipo6,
                        alt: "Niños en la cancha de juego, descansando en el suelo",
                    }}
                />
                <Image
                    {...{
                        src: equipo7,
                        alt: "Niño parando un balón que cae con su pie",
                    }}
                />
                <Image
                    {...{ src: equipo8, alt: "Niño haciendo una dominada" }}
                />
                <Image
                    {...{
                        src: equipo9,
                        alt: "Todos los niños aprendiendo a jugar con el balón",
                    }}
                />
                <Image
                    {...{
                        src: equipo10,
                        alt: "Niños portero detiene el balón y salva a su equipo de un gol",
                    }}
                />-->
                <!--<Image
                    src={copaBrasil}
                    alt="Niños preparados para competir en la Copa brasil"
                />
                <Image
                    src={equipo}
                    alt="Niños afuera de un templo"
                />
                <Image
                    src={equipo2}
                    alt="Entrenadora enseñandole a dos niños"
                />
                <Image
                    src={equipo3}
                    alt="Dos niños compitiendo por el balón"
                />
                <Image
                    src={equipo4}
                    alt="Niños preparandose para entrenar, con camisas verdes"
                />
                <Image
                    src={equipo5}
                    alt="Niños con sus entrenadores, listos para competir"
                />
                <Image
                    src={equipo6}
                    alt="Niños en la cancha de juego, descansando en el suelo"
                />
                <Image
                    src={equipo7}
                    alt="Niño parando un balón que cae con su pie"
                />
                <Image
                    src={equipo8}
                    alt="Niño haciendo una dominada"
                />
                <Image
                    src={equipo9}
                    alt="Todos los niños aprendiendo a jugar con el balón"
                />
                <Image
                    src={equipo10}
                    alt="Niños portero detiene el balón y salva a su equipo de un gol"
                />
        -->
                <!--
                <img src="https://source.unsplash.com/xRyL63AwZFE"/>
                <img src="https://source.unsplash.com/xRyL63AwZFE"/>
                <img src="https://source.unsplash.com/XeNKWTiCPNw"/>
                <img src="https://source.unsplash.com/DFt3T5r_4FE"/>
                <img src="https://source.unsplash.com/Ebwp2-6BG8E"/>
                -->
            </div>
        </div>

        <h2 class="text-2xl p-4 font-medium">¿Cómo puedes apoyarnos?</h2>
        <hr
            class="w-64 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700"
        />
        <p class="text-balance p-4">
            Economicamente puedes hacerlo por medio de nuestras cuentas, desde
            $10.00MXN puedes apoyarnos a que este proyecto siga adelante y que
            muchos niños alcancen sus sueños de ser grandes profesionales del
            deporte:
        </p>

        <Bancos />
    </main>
</Layout>
