---
import equipo2 from "@images/equipo2.webp";
import equipo from "@images/equipo.webp";
import equipo3 from "@images/equipo3.webp";
import Partidos from "@components/Partidos.astro";
import Layout from "@layout";
import "../styles/global.css";
import { NOMBRE } from "../constants";
import BtnDonar from "@components/BtnDonar.astro";
import { historias } from "@data/historia.json";
import NotaCompleta from "@components/NotaCompleta.astro";
import { Image } from "astro:assets";

---

<Layout title="Selección AMDI Jalisco">
  <main class="text-white text-center">
    <div
      id="presentacion"
      class="relative bg-cover bg-center h-screen grid items-center"
    >
      <div class="absolute inset-0 bg-black opacity-70"></div>
      <div class="relative z-10 p-8">
        <h1 class="text-6xl font-bold">{NOMBRE}</h1>
        <p class="p-4 text-xl">
          Asociación que se preocupa por darle actividades de alto nivel a cada
          uno de sus integrantes en sus diferentes disciplinas.
        </p>
        <BtnDonar />
      </div>
    </div>
      
    <div
      id="partidos"
      class="relative bg-cover bg-center h-screen items-center"
    >
      <div class="absolute inset-0 bg-black opacity-70"></div>
      <div class="relative z-10 p-8">
        <h1
          class="2xl:text-8xl xl:text-7xl lg:text-5xl md:text-4xl text-3xl font-bold"
        >
          PartidosgetImage
        </h1>
        <Partidos />
      </div>
    </div>

    <div id="quienes" class="p-4 mb-4 font-medium">
      <h2 class="text-4xl md:text-6xl sm:text-6xl p-4">#DejandoHuella</h2>
      <p class="text-balance text-lg">
        Somos la Asociación Mexicana de Desarrollo Motriz Infantil. participante
        de la Copa America AIFI. de diversas categorias infantiles, como 2012 o
        2008.
      </p>

      <div class="h-full py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <div
            class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12"
          >
          </div>

          <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
            >
              <Image
                src={equipo}
                loading="lazy"
                width="50"
                height="50"
                alt="Entrenador enseñando al equipo de niños"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Esfuerzo</span
              >
            </a>
            <!-- image - end -->
            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
            >
              <Image
                src={equipo2}
                loading="lazy"
                width="50"
                height="50"
                alt="Equipo formulando un plan"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Aprendizaje</span
              >
            </a>
            <!-- image - end -->
            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80"
            >
              <Image
                src={equipo}
                loading="lazy"
                width="50"
                height="50"
                alt="Equipo tomandose una foto en un templo"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Hermandad</span
              >
            </a>
            <!-- image - end -->
            <!-- image - start -->
            <a
              class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80"
            >
              <Image
                src={equipo3}
                loading="lazy"
                width="50"
                height="50"
                alt="Jugadores compitiendo por el balón"
                class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
              />

              <div
                class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
              >
              </div>

              <span
                class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"
                >Ganar</span
              >
            </a>
            <!-- image - end -->
          </div>
        </div>
      </div>
    </div>

    <div id="historia" class="m-4 p-4 justify-center items-center">
      <h2 class="text-4xl font-medium">Historia:</h2>
      <hr
        class="w-64 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700"
      />

      {
        historias.map(( { descripcion, fecha, alt, imagen, nota }, index ) => (
        <h3 class="text-2xl font-medium">{fecha}</h3>
        <p class="text-4xl font-medium">↓</p>

        <div id="inicios" class="p-4 xl:flex items-center justify-center">
          {index % 2 === 0
            ? (
              <p>
                {descripcion}
                <NotaCompleta nota={nota} color="bg-red-700" />
              </p>
              <div class="xl:flex-shrink-0">
                <Image
                  src={`/src/images/${imagen}`}
                  loading="lazy"
                  alt={alt}
                  class="p-4 m-auto"
                  height="500"
                  width="500"
                />
              </div>
          ) : (
              <div class="xl:flex-shrink-0">
                <Image
                  src={`/src/images/${imagen}`}
                  loading="lazy"
                  alt={alt}
                  class="p-4 m-auto"
                  height="500"
                  width="500"
                />
              </div>
                <p>
                  {descripcion}
                  <NotaCompleta nota={nota} color="bg-red-700" />
                </p>
          )}
      </div>  
        ))
      }
    </div>

    <div id="somos" class="grid grid-cols-2 gap-2 items-center">
      <h2 class="text-4xl font-medium p-4 col-span-2">Lo que nos define:</h2>

      <div
        class="xl:flex text-center p-2 col-span-2 space-y-4 md:space-y-0 md:space-x-4"
      >
        <div class="relative rounded-2xl overflow-hidden flex-1">
          <Image
            src={equipo2}
            loading="lazy"
            alt="Mujer entrenadora dando clases"
            class="absolute inset-0 w-full h-full object-cover opacity-20"
            height={500}
            width={500}
            />
          <div class="relative bg-opacity-50 rounded-2xl p-4">
            <h3 class="text-2xl p-2">Misión</h3>
            <p class="p-4">
              "AMDI fue fundada con la misión de llevar a los niños a alcanzar
              todo su potencial y transformarlos en jugadores competitivos
              capaces de destacar en las mejores ligas del país. {NOMBRE} se dedica
              a proporcionar una plataforma donde el talento y la pasión de los jóvenes
              jaliscienses puedan brillar, a través de un enfoque integral que abarca
              el desarrollo físico, emocional y mental."
            </p>
          </div>
        </div>

        <div class="relative rounded-2xl overflow-hidden flex-1">
          <Image
            src={equipo}
            loading="lazy"
            alt="Niños tomandose una foto en un templo"
            class="absolute inset-0 w-full h-full object-cover opacity-20"
            height={500}
            width={500}
          />
          <div class="relative bg-opacity-50 rounded-2xl p-4">
            <h3 class="text-2xl p-2">Visión</h3>
            <p class="p-4">
              "La visión de AMDI es crear una comunidad de apoyo que fomente el
              compañerismo y la disciplina, preparando a los jóvenes no solo
              para el deporte, sino también para la vida. AMDI aspira a ser
              reconocida como un semillero de campeones que no solo logran
              victorias en el campo, sino que también llevan consigo valores
              sólidos y un profundo amor por el juego, impactando positivamente
              la vida de sus miembros y sus comunidades."
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
<style>
  #presentacion {
    background-image: url('/src/images/equipo.webp');
}

#partidos {
  background-image: url('/src/images/partidos.webp');
}
</style>