---
import { Image } from "astro:assets";
import Facebook from "@images/redes/facebook.webp";
import Whatsapp from "@images/redes/whatsapp.png";
import Twitter from "@images/redes/twitter.png";

const { title } = Astro.props;
const encodedTitle = encodeURIComponent(title);
const { href } = new URL(Astro.url.pathname, Astro.site);
const encodedHref = encodeURIComponent(href);
---

<div
  id="compartir_noticia"
  class="flex items-center space-x-4 bg-red-900 justify-center p-4"
>
  <p>¡Comparte esta noticia con tus amigos!</p>

  <a
    href={`https://api.whatsapp.com/send?text=${encodedTitle}:%20${encodedHref}`}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Compartir en WhatsApp"
    class="hover:opacity-75"
  >
    <Image src={Whatsapp} alt="Facebook Logo" height={32} width={32} />
  </a>

  <!-- Facebook -->
  <a
    href={`https://www.facebook.com/sharer/sharer.php?u=${encodedHref}`}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Compartir en Facebook"
    class="hover:opacity-75"
  >
    <Image src={Facebook} alt="Facebook"/>
  </a>
  <!--
  Instagram (redirigir al perfil, ya que Instagram no permite compartir URLs) 
  <a
    href="https://www.instagram.com"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Ir a Instagram"
    class="hover:opacity-75"
  >
    <Image src={Instagram} alt="Instagram Logo" height={32} width={32} />
  </a>
-->

  <!-- Twitter -->
  <a
    href={`https://twitter.com/intent/tweet?url=${encodedHref}&text=${encodedTitle}:`}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Compartir en Twitter"
    class="hover:opacity-75"
  >
    <Image src={Twitter} alt="Twitter"/>
  </a>
</div>
